.mainContainer {
  width: 90%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.answersContainers {
  width: 90%;
}

.mainContainer p {
  font-size: 1.25rem; 
  font-weight: 700;
  text-align: center;
}


.btnContainer {
  width: 80%;
  margin: 0 auto;
}

.nextBtn {
  width: 100%;
}